h1{
    text-align: center;
}

.intro {
    background-color: burlywood;
  }

  #firstname {
    background-color: rgb(71, 48, 202);
  }

  .cor-de-titulo{
      color: red;
  }

  .alinhamento-texto-imagem{
      display: flex;
      justify-content: space-around;
  }

  .size-image{
    width: 546px;
    height: 500px;
  }
  